body {
    width: 70%;
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

h1{
    text-align: center;
}

.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item {
    height: 50px;
    width: 300px;
    border-style: solid;
    background-color: gray;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
}
